//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.12.01
//Part Number: GW5AT-LV60PG484AC2/I1
//Device: GW5AT-60
//Device Version: B
//Created Time: Sat 02 07 17:22:59 2026

IO_LOC "HCLK" V22;
IO_PORT "HCLK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=OFF PULL_STRENGTH=STRONG BANK_VCCIO=3.3;
CLOCK_LOC "Cortex_M1_instance/HCLK_d" LOCAL_CLOCK;

IO_LOC "hwRstn" AA13;
IO_PORT "hwRstn" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;

IO_LOC "GPIO[0]" A15;
IO_PORT "GPIO[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

// FFC/FPC 10p connector == IOB20B (1.5v)
// PMOD1_IO1/SDRAM1_A9 (Y22)
// PMOD0_IO7/SDRAM1_D6 (T18). bottom row of PMOD connector
IO_LOC "GPIO[1]" T18;
IO_PORT "GPIO[1]" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;


// AB20 PMOD1_IO7(SDRAM1_A4) == swdclk. contains global clock GCLKC_9
// AA21 PMOD1_IO5(SDRAM1_A5) == swdio

IO_LOC "JTAG_7_SWDIO" AA21;
IO_PORT "JTAG_7_SWDIO" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "JTAG_9_SWDCLK" C17;//SDRAM0_A9
IO_PORT "JTAG_9_SWDCLK" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

//IO_LOC "JTAG_7_TMS" AA21;
//IO_PORT "JTAG_7_TMS" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

//IO_LOC "JTAG_13_TDO" Y22;
//IO_PORT "JTAG_13_TDO" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

//IO_LOC "JTAG_5_TDI" AB22;
//IO_PORT "JTAG_5_TDI" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

//IO_LOC "JTAG_9_TCK" AB20;
//IO_PORT "JTAG_9_TCK" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;