//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.12.01
//Part Number: GW5AT-LV60PG484AC2/I1
//Device: GW5AT-60
//Device Version: B
//Created Time: Sat 02 07 17:22:59 2026

IO_LOC "HCLK" V22;
IO_PORT "HCLK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=OFF PULL_STRENGTH=STRONG BANK_VCCIO=3.3;
CLOCK_LOC "Cortex_M1_instance/HCLK_d" LOCAL_CLOCK;
IO_LOC "hwRstn" AA13;
IO_PORT "hwRstn" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;

// PMOD1_IO6(AA19) == RXD
// PMOD1_IO4(AA20) == TXD
IO_LOC "UART1RXD" AA19;
IO_PORT "UART1RXD" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "UART1TXD" AA20;
IO_PORT "UART1TXD" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

// FFC/FPC 10p connector == IOB20B (1.5v)
// PMOD1_IO1/SDRAM1_A9 (Y22)
// PMOD0_IO7/SDRAM1_D6 (T18). bottom row of PMOD connector
IO_LOC "GPIO[0]" R17;
IO_PORT "GPIO[0]" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "GPIO[1]" T18;
IO_PORT "GPIO[1]" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "BOOT_LED_A" P16;
IO_PORT "BOOT_LED_A" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "WS2812_LED" J16;
IO_PORT "WS2812_LED" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;


// AB20 PMOD1_IO7(SDRAM1_A4) == swdclk
// AA21 PMOD1_IO5(SDRAM1_A5) == swdio
IO_LOC "JTAG_7_SWDIO" AA21;
IO_PORT "JTAG_7_SWDIO" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "JTAG_9_SWDCLK" AB20;
IO_PORT "JTAG_9_SWDCLK" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;