//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.12.01
//Part Number: GW5AT-LV60PG484AC2/I1
//Device: GW5AT-60
//Device Version: B
//Created Time: Sat 02 07 17:22:59 2026

IO_LOC "HCLK" V22;
IO_PORT "HCLK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=OFF PULL_STRENGTH=STRONG BANK_VCCIO=3.3;
//CLOCK_LOC "Cortex_M1_instance/HCLK_d" LOCAL_CLOCK;
IO_LOC "hwRstn" AA13;
IO_PORT "hwRstn" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;

// PMOD1_IO6(AA19) == RXD
// PMOD1_IO4(AA20) == TXD
IO_LOC "UART1RXD" AA19;
IO_PORT "UART1RXD" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "UART1TXD" AA20;
IO_PORT "UART1TXD" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

// FFC/FPC 10p connector == IOB20B (1.5v)
// in order of how they are in the schematic top to bottom
/*
IO_LOC "FPC10P_IO0" W12;
IO_LOC "FPC10P_IO1" AA9;
IO_LOC "FPC10P_IO2" AA10;
IO_LOC "FPC10P_IO3" AB10;
IO_LOC "FPC10P_IO4" AA11;
IO_LOC "FPC10P_IO5" AB11;
IO_LOC "FPC10P_IO6" W10;
IO_LOC "FPC10P_IO7" Y11;
*/


// PMOD1_IO1/SDRAM1_A9 (Y22)
// PMOD0_IO7/SDRAM1_D6 (T18). bottom row of PMOD connector
IO_LOC "GPIO[0]" R17;
IO_PORT "GPIO[0]" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "GPIO[1]" T18;
IO_PORT "GPIO[1]" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "GPIO[2]" E13; // SDRAM0_D1
IO_PORT "GPIO[2]" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;


IO_LOC "GPIO[3]" W12;
IO_PORT "GPIO[3]" IO_TYPE=LVCMOS15 BANK_VCCIO=1.5;
IO_LOC "GPIO[4]" AA9;
IO_PORT "GPIO[4]" IO_TYPE=LVCMOS15 BANK_VCCIO=1.5;
IO_LOC "GPIO[5]" AA10;
IO_PORT "GPIO[5]" IO_TYPE=LVCMOS15 BANK_VCCIO=1.5;
IO_LOC "GPIO[6]" AB10;
IO_PORT "GPIO[6]" IO_TYPE=LVCMOS15 BANK_VCCIO=1.5;
IO_LOC "GPIO[7]" AA11;
IO_PORT "GPIO[7]" IO_TYPE=LVCMOS15 BANK_VCCIO=1.5;
IO_LOC "GPIO[8]" AB11;
IO_PORT "GPIO[8]" IO_TYPE=LVCMOS15 BANK_VCCIO=1.5;
IO_LOC "GPIO[9]" W10;
IO_PORT "GPIO[9]" IO_TYPE=LVCMOS15 BANK_VCCIO=1.5;
IO_LOC "GPIO[10]" Y11;
IO_PORT "GPIO[10]" IO_TYPE=LVCMOS15 BANK_VCCIO=1.5;


// gwct (gowin command line tool)
IO_LOC "GWCT_TX" C14; // SDRAM0_D3
IO_PORT "GWCT_TX" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "GWCT_RX" C15; // SDRAM0_D2
IO_PORT "GWCT_RX" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;


IO_LOC "BOOT_LED_A" P16;
IO_PORT "BOOT_LED_A" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "WS2812_LED" J16;
IO_PORT "WS2812_LED" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;


// AB20 PMOD1_IO7(SDRAM1_A4) == swdclk
// AA21 PMOD1_IO5(SDRAM1_A5) == swdio
IO_LOC "JTAG_7_SWDIO" AA21;
IO_PORT "JTAG_7_SWDIO" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "JTAG_9_SWDCLK" AB20;
IO_PORT "JTAG_9_SWDCLK" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;


//====== DDR3 Memory ======
// Bank Address
IO_LOC "DDR_BA_O[2]"    M6;
IO_PORT "DDR_BA_O[2]"   IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR_BA_O[1]"    P2;
IO_PORT "DDR_BA_O[1]"   IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR_BA_O[0]"    P5;
IO_PORT "DDR_BA_O[0]"   IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;

// Row Address (0-13 for DDR3, note: reference shows 0-15 but you declared [13:0])
IO_LOC "DDR_ADDR_O[13]" K1;
IO_PORT "DDR_ADDR_O[13]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR_ADDR_O[12]" K4;
IO_PORT "DDR_ADDR_O[12]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR_ADDR_O[11]" H3;
IO_PORT "DDR_ADDR_O[11]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR_ADDR_O[10]" L1;
IO_PORT "DDR_ADDR_O[10]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR_ADDR_O[9]"  H5;
IO_PORT "DDR_ADDR_O[9]"  IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR_ADDR_O[8]"  J5;
IO_PORT "DDR_ADDR_O[8]"  IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR_ADDR_O[7]"  J1;
IO_PORT "DDR_ADDR_O[7]"  IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR_ADDR_O[6]"  G3;
IO_PORT "DDR_ADDR_O[6]"  IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR_ADDR_O[5]"  H2;
IO_PORT "DDR_ADDR_O[5]"  IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR_ADDR_O[4]"  J2;
IO_PORT "DDR_ADDR_O[4]"  IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR_ADDR_O[3]"  J4;
IO_PORT "DDR_ADDR_O[3]"  IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR_ADDR_O[2]"  G2;
IO_PORT "DDR_ADDR_O[2]"  IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR_ADDR_O[1]"  K2;
IO_PORT "DDR_ADDR_O[1]"  IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR_ADDR_O[0]"  M1;
IO_PORT "DDR_ADDR_O[0]"  IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;

// Control Signals
IO_LOC "DDR_ODT_O"      M2;
IO_PORT "DDR_ODT_O"     IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR_CKE_O"      K6;
IO_PORT "DDR_CKE_O"     IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR_WE_N_O"     M5;
IO_PORT "DDR_WE_N_O"    IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR_CAS_N_O"    L4;
IO_PORT "DDR_CAS_N_O"   IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR_RAS_N_O"    L5;
IO_PORT "DDR_RAS_N_O"   IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR_CS_N_O"     P4;
IO_PORT "DDR_CS_N_O"    IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR_RESET_N_O"  L6;
IO_PORT "DDR_RESET_N_O" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;

// Clock (differential)
IO_LOC "DDR_CLK_O"      L3,K3;
IO_PORT "DDR_CLK_O"     IO_TYPE=SSTL15D_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;

// Data Mask
IO_LOC "DDR_DQM_O[1]"   V7;
IO_PORT "DDR_DQM_O[1]"  IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR_DQM_O[0]"   AA4;
IO_PORT "DDR_DQM_O[0]"  IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;

// Data Pins
IO_LOC "DDR_DQ_IO[15]"  Y9;
IO_PORT "DDR_DQ_IO[15]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;
IO_LOC "DDR_DQ_IO[14]"  AB6;
IO_PORT "DDR_DQ_IO[14]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;
IO_LOC "DDR_DQ_IO[13]"  W9;
IO_PORT "DDR_DQ_IO[13]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;
IO_LOC "DDR_DQ_IO[12]"  AB8;
IO_PORT "DDR_DQ_IO[12]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;
IO_LOC "DDR_DQ_IO[11]"  Y7;
IO_PORT "DDR_DQ_IO[11]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;
IO_LOC "DDR_DQ_IO[10]"  AB7;
IO_PORT "DDR_DQ_IO[10]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;
IO_LOC "DDR_DQ_IO[9]"   Y8;
IO_PORT "DDR_DQ_IO[9]"  IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;
IO_LOC "DDR_DQ_IO[8]"   AA8;
IO_PORT "DDR_DQ_IO[8]"  IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;
IO_LOC "DDR_DQ_IO[7]"   AB1;
IO_PORT "DDR_DQ_IO[7]"  IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;
IO_LOC "DDR_DQ_IO[6]"   AB5;
IO_PORT "DDR_DQ_IO[6]"  IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;
IO_LOC "DDR_DQ_IO[5]"   AB2;
IO_PORT "DDR_DQ_IO[5]"  IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;
IO_LOC "DDR_DQ_IO[4]"   AA1;
IO_PORT "DDR_DQ_IO[4]"  IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;
IO_LOC "DDR_DQ_IO[3]"   V4;
IO_PORT "DDR_DQ_IO[3]"  IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;
IO_LOC "DDR_DQ_IO[2]"   AA5;
IO_PORT "DDR_DQ_IO[2]"  IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;
IO_LOC "DDR_DQ_IO[1]"   AB3;
IO_PORT "DDR_DQ_IO[1]"  IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;
IO_LOC "DDR_DQ_IO[0]"   Y4;
IO_PORT "DDR_DQ_IO[0]"  IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=12 SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;

// Data Strobes (differential)
IO_LOC "DDR_DQS_IO[1]"  V9,V8;
IO_PORT "DDR_DQS_IO[1]" IO_TYPE=SSTL15D_I PULL_MODE=NONE DRIVE=8 SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;
IO_LOC "DDR_DQS_IO[0]"  Y3,AA3;
IO_PORT "DDR_DQS_IO[0]" IO_TYPE=SSTL15D_I PULL_MODE=NONE DRIVE=8 SINGLE_RESISTOR=OFF BANK_VCCIO=1.5;

// RGMII Ethernet (RTL8211FI-CG PHY, 3.3V IO)
// TX
IO_LOC "RGMII_TXC"      F20; IO_PORT "RGMII_TXC"      IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "RGMII_TX_CTL"   F21; IO_PORT "RGMII_TX_CTL"   IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "RGMII_TXD[0]"   D21; IO_PORT "RGMII_TXD[0]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "RGMII_TXD[1]"   E21; IO_PORT "RGMII_TXD[1]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "RGMII_TXD[2]"   D22; IO_PORT "RGMII_TXD[2]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "RGMII_TXD[3]"   E22; IO_PORT "RGMII_TXD[3]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
// RX
IO_LOC "RGMII_RXC"      G21; IO_PORT "RGMII_RXC"      IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "RGMII_RX_CTL"   G22; IO_PORT "RGMII_RX_CTL"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "RGMII_RXD[0]"   F18; IO_PORT "RGMII_RXD[0]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "RGMII_RXD[1]"   E18; IO_PORT "RGMII_RXD[1]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "RGMII_RXD[2]"   C22; IO_PORT "RGMII_RXD[2]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "RGMII_RXD[3]"   B22; IO_PORT "RGMII_RXD[3]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
// SMI (PHY management)
IO_LOC "MDC"            V18; IO_PORT "MDC"             IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "MDIO"           U22; IO_PORT "MDIO"            IO_TYPE=LVCMOS33 PULL_MODE=UP   DRIVE=8 BANK_VCCIO=3.3;
// PHY control
IO_LOC "EPHY_RST_N"     W20; IO_PORT "EPHY_RST_N"     IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "EPHY_CLK"       V19; IO_PORT "EPHY_CLK"       IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
